body {
  margin: 0;
  font-family: ink free;
  background: linear-gradient(to left, #5fc3e4 0%, #e55d87 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
